<div class="justify-center">
    <form class="form">
        <h1>Login</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="input--text" id="email" autocomplete="on"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="input--text" id="password"/>
        </div>
        <a routerLink="/register" class="link">Don't have an acount? Click here to register</a>
        <div class="form__actions">
            <button type="submit" class="btn btn--large">Login</button>
        </div>
    </form>
</div>