<div class="justify-center">
    <form class="form" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <h1>Register</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="input--text" id="email" autocomplete="on" [(ngModel)]="email" name="email" #emailRef="ngModel" required/>
            <div class="error-text" [hidden]="emailRef.valid || emailRef.untouched">
                    Email is required                
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="input--text" id="password" [(ngModel)]="password" name="password" #passwordRef="ngModel" required/>
            <div class="error-text" [hidden]="passwordRef.valid || passwordRef.untouched">
                Password is required                
            </div>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm password</label>
            <input type="password" class="input--text" id="confirm" [(ngModel)]="confirmPassword" name="confirmPassword" #confirmRef="ngModel" required/>
            <div class="error-text" [hidden]="confirmRef.valid || confirmRef.untouched">
                @if(confirmRef.hasError('required')) {
                    Confirm your password 
                }
                @else if(confirmRef.hasError('noMatch')) {
                    Passwords don't match
                }            
            </div>
        </div>
        <a routerLink="/login" class="link">Already have an acount? Login here</a>
        <div class="form__actions">
            <button type="submit" class="btn btn--large">Register</button>
        </div>
    </form>
</div>