<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title"/>
    </div>
    <div>
        <label for="instructions">Instructions</label>
        <textarea rows="10" id="instructions" formControlName="instructions"></textarea>
    </div>
    <div>
        <h5>Ingredients</h5>
        <button type="button" (click)="addIngredient()">Add ingredient</button>
        <ul formArrayName="ingredients">
            @for(item of ingredients.controls; track i; let i = $index) 
            {
                <li [formGroupName]="i">
                    <label for="ingredient-{{i}}-name">Name</label>
                    <input type="text" id="ingredient-{{i}}-name" formControlName="name"/>
                    <label for="ingredient-{{i}}-amount">Name</label>
                    <input type="text" id="ingredient-{{i}}-amount" formControlName="amount"/>
                </li>
            }
        </ul>
    </div>
    <button type="submit">Submit</button>
</form>