* {
    box-sizing: border-box;
    font-size: 1rem;
}

:root {
    --color-primary: #6610f2;
    --color-danger: #dc3545;
    --color-success: #198754;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    background-color: rgba(0,0,0,0.2);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

label {
    font-weight: 500;
}


.input {
    padding: 1rem;
    border-radius: 4px;
}

.input--text {
    padding: .5rem
}

.label {
    margin: 0;
    font-weight: 500;
}

.link {
    margin: 1rem 0;
    display: block;
    text-align: center;
}

.btn {
    padding: .5em 1em;
    border-radius: 4px;
    background-color: var(--color-primary);
    border: none;
    color: #fff;
}

.btn--form {
    padding: calc(.5em + 2px) calc(1em + 2px);
}

.btn--large {
    font-size: 1.2rem;
}

.btn--danger {
    background-color: var(--color-danger);
    color: #fff;
}

.btn--success {
    background-color: var(--color-success);
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.form {
    max-width: 800px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.form__title {
    margin: 0 0 1rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}

.form-group--row {
    flex-direction: row;
}

.form-group--row .form-group {
    margin: 0;
}

.form-group__actions {
    margin: .5rem 0;
}

.list-actions {
    display: flex;
    align-items: end;
}

.error-text {
    color: var(--color-danger);
}